<template>
    <div class="bg-gray-100 w-full h-screen flex justify-center items-center">
        <div>
            <h1 class="mb-2 text-4xl font-bold">404</h1>
            <p>Oops we couldn't find that page. Try going <router-link to="/" class="text-indigo-600 hover:text-indigo-800">home</router-link></p>
        </div>
    </div>
</template>