<template>
    <loading v-if="store.isLoading"></loading>
    <div class="bg-gray-100 max-h-full flex flex-col">
        <Header></Header>
        <div class="grow p-4 xl:px-0 xl:py-10 container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 xl:gap-6">
                <div class="lg:max-h-48 p-4 bg-white col-span-3 lg:col-span-1 lg:py-6 border lg:text-center">
                    <div>
                        <h2 class="text-lg lg:text-2xl font-bold">{{ user.fullname }}</h2>
                        <p class="text-sm text-gray-700 font-medium">{{ user.email }}</p>
                    </div>
                    <div class="mt-2 gap-2 text-sm font-medium text-gray-700">
                        <div class="flex justify-between lg:justify-center items-center lg:gap-x-4">
                            <p class="flex items-center gap-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-indigo-500">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                                </svg>
                                {{ user.phone }}
                            </p>
                            <p class="flex items-center gap-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-indigo-500">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                                </svg>
                                {{ user.birthday }}
                            </p>
                        </div>
                        <p class="mt-2 flex lg:justify-center items-start gap-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="mt-1 w-4 h-4 text-indigo-500">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                            </svg>
                            {{ user.address }}
                        </p>
                    </div>
                </div>
                <div class="col-span-3 lg:col-span-2">
                    <div class="overflow-auto relative border">
                        <table class="w-full text-sm text-left text-gray-600 dark:text-gray-400">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 border-b dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="py-3 px-6">
                                        #
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Name
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Phone Number
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Birthday
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Address
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in users" v-bind:key="item"
                                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer">
                                    <th scope="row"
                                        class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{ ++index }}
                                    </th>
                                    <td class="px-6 py-4">
                                        <p class="font-bold">
                                            {{ item.fullname }}
                                        </p>
                                        {{ item.email }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.phone }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.dob }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.address }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { store } from '../data/store';
import axios from 'axios';

export default {
    data() {
        return {
            store,
            users: [],
            user: {},
        }
    },
    mounted() {
        this.user = JSON.parse(localStorage.getItem('user'));

        this.fetchUser();
    },
    methods: {
        fetchUser() {
            this.store.isLoading = true;

            const token = localStorage.getItem('_token');

            axios.get(`https://v8btwf0e43.execute-api.ap-southeast-1.amazonaws.com/dev/api/users?token=${token}`).then(res => {
                this.users = res.data;
            }).catch(err => {
                console.error(err);
            }).finally(() => {
                this.store.isLoading = false;
            });
        }
    }
}

</script>