<template>
    <loading v-if="store.isLoading"></loading>
    <div class="bg-gray-100 w-full h-screen flex justify-center items-center">
        <div class="px-4 py-8 max-w-lg w-full">
            <h1 class="text-4xl text-indigo-600 font-semibold">Hello Vue</h1>
            <p>Sign in</p>
            <div class="mt-6 p-6 bg-white border">
                <form method="post" @submit="checkForm" action="#" class="space-y-4">
                    <div>
                        <label for="email" class="text-sm font-medium">Email Address</label>
                        <input v-model="email" type="text" id="email" inputmode="email"
                            class="mt-2 px-4 py-2 text-sm font-medium w-full border focus:outline-none"
                            :class="{ 'border-red-400 bg-red-50': 'email' in errors }" />
                        <error-text name="email" :bags="errors"></error-text>
                    </div>
                    <div>
                        <label for="password" class="text-sm font-medium">Password</label>
                        <input v-model="password" type="password" id="password" autocomplete="new-password"
                            class="mt-2 px-4 py-2 text-sm font-medium w-full border focus:outline-none"
                            :class="{ 'border-red-400 bg-red-50': 'password' in errors }" />
                        <error-text name="password" :bags="errors"></error-text>
                    </div>
                    <div class="text-center">
                        <button type="submit"
                            class="w-full text-sm text-white font-medium py-3 bg-indigo-500 hover:bg-indigo-600">
                            Sign In
                        </button>
                        <p class="mt-4 text-sm">Don't have an account? Sign up <router-link to="/sign-up"
                                class="text-indigo-600 hover:text-indigo-700">here</router-link>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";
import { store } from "../data/store.js";

export default {
    data() {
        return {
            email: '',
            password: '',
            errors: [],
            store,
        }
    },
    methods: {
        checkForm(e) {

            const validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

            if (
                (this.email && this.password) &&
                (this.email.match(validRegex))
            ) {
                this.submitForm();
            }

            this.errors = [];

            if (!this.email) this.errors.email = 'Email address is required';
            if (!this.password) this.errors.password = 'Password is required';
            if (!this.email.match(validRegex)) this.errors.email = 'Email address is invalid';

            e.preventDefault();

        },
        submitForm() {

            this.store.isLoading = true;

            let params = {
                email: this.email,
                password: this.password
            }

            axios.post('https://v8btwf0e43.execute-api.ap-southeast-1.amazonaws.com/dev/api/login', params, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            }).then(res => {
                console.log(res.data);
                if (res.status == 200) {
                    this.showAlert(res.data.msg);
                    localStorage.setItem('_token', res.data.token);
                    localStorage.setItem('user', JSON.stringify(res.data.user));
                    this.$router.replace({ name: 'home' });
                }
            }).catch(err => {
                console.log(err);
                this.store.alert = {
                    show: true,
                    success: false,
                    message: err.response.data.errors.account
                }
            }).finally(() => {
                this.store.isLoading = false;
            });
        },
        showAlert(msg) {
            this.store.alert = {
                show: true,
                success: true,
                message: msg
            }
        }
    }



}

</script>