<template>
    <loading v-if="store.isLoading"></loading>
    <div class="bg-gray-100 w-full h-screen flex justify-center items-center overflow-y-auto md:overflow-hidden">
        <div class="p-4 max-w-4xl w-full">
            <h1 class="text-4xl text-indigo-600 font-semibold">Hello Vue</h1>
            <p>Create an account</p>
            <div class="mt-6 p-6 bg-white border">
                <form method="post" @submit="checkForm" action="#" class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label for="fullname" class="text-sm font-medium">Full Name</label>
                        <input v-model="fullname" type="text" id="fullname"
                            class="mt-2 px-4 py-2 text-sm font-medium w-full border focus:outline-none "
                            :class="{ 'border-red-400 bg-red-50': 'fullname' in errors }" />
                        <error-text name="fullname" :bags="errors"></error-text>
                    </div>
                    <div>
                        <label for="email" class="text-sm font-medium">Email Address</label>
                        <input v-model="email" type="text" id="email" inputmode="email"
                            class="mt-2 px-4 py-2 text-sm font-medium w-full border focus:outline-none"
                            :class="{ 'border-red-400 bg-red-50': 'email' in errors }" />
                        <error-text name="email" :bags="errors"></error-text>
                    </div>
                    <div>
                        <label for="birthday" class="text-sm font-medium">Birthday</label>
                        <input v-model="birthday" type="date" id="birthday"
                            class="mt-2 px-4 py-2 text-sm font-medium w-full border focus:outline-none"
                            :class="{ 'border-red-400 bg-red-50': 'birthday' in errors }" />
                        <error-text name="birthday" :bags="errors"></error-text>
                    </div>
                    <div>
                        <label for="phone" class="text-sm font-medium">Phone Number</label>
                        <input v-model="phone" type="text" id="phone" inputmode="numeric"
                            class="mt-2 px-4 py-2 text-sm font-medium w-full border focus:outline-none"
                            :class="{ 'border-red-400 bg-red-50': 'phone' in errors }" />
                        <error-text name="phone" :bags="errors"></error-text>
                    </div>
                    <div>
                        <label for="password" class="text-sm font-medium">Password</label>
                        <input v-model="password" type="password" id="password"
                            class="mt-2 px-4 py-2 text-sm font-medium w-full border focus:outline-none"
                            :class="{ 'border-red-400 bg-red-50': 'password' in errors }" />
                        <span class="text-xs text-gray-600 tracking-wide">Minimum 8 characters</span>
                        <error-text name="password" :bags="errors"></error-text>
                    </div>
                    <div>
                        <label for="retypePassword" class="text-sm font-medium">Re-type Password</label>
                        <input v-model="retypePassword" type="password" id="retypePassword"
                            class="mt-2 px-4 py-2 text-sm font-medium w-full border focus:outline-none"
                            :class="{ 'border-red-400 bg-red-50': 'retypePassword' in errors }" />
                        <error-text name="retypePassword" :bags="errors"></error-text>
                    </div>
                    <div class="md:col-span-2">
                        <label for="address" class="text-sm font-medium">Address</label>
                        <textarea v-model="address" id="address" rows="3"
                            class="mt-2 px-4 py-2 text-sm font-medium w-full border focus:outline-none"
                            :class="{ 'border-red-400 bg-red-50': 'address' in errors }"></textarea>
                        <error-text name="address" :bags="errors"></error-text>
                    </div>
                    <div class="md:col-span-2 flex flex-col md:flex-row justify-between items-center gap-4 md:gap-0">
                        <p class="mt-2 text-sm">Already registered? Sign in <router-link to="/"
                                class="text-indigo-600 hover:text-indigo-700">here</router-link>
                        </p>
                        <div class="order-first md:order-last w-full md:w-auto flex gap-2">
                            <button type="reset"
                                class="w-full md:w-auto px-6 py-3 text-sm text-indigo-600 font-medium bg-indigo-100 hover:bg-indigo-200">
                                Cancel
                            </button>
                            <button type="submit"
                                class="w-full md:w-auto px-6 py-3 text-sm text-white font-medium bg-indigo-500 hover:bg-indigo-600">
                                Sign Up
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { store } from "../data/store.js";

export default {
    data() {
        return {
            fullname: '',
            email: '',
            password: '',
            retypePassword: '',
            birthday: '',
            phone: '',
            address: '',
            errors: {},
            store,
        }
    },
    methods: {
        checkForm: function (e) {
            const validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            if (
                (this.fullname && this.email && this.password && this.retypePassword && this.birthday && this.phone && this.address) &&
                (this.email.match(validRegex)) &&
                (this.password.length > 7) &&
                (this.password == this.retypePassword)
            ) {
                this.submitForm();
            }

            this.errors = [];

            if (!this.fullname) this.errors.fullname = 'Fullname is required';
            if (!this.email) this.errors.email = 'Email address is required';
            if (!this.password) this.errors.password = 'Password is required'
            if (!this.retypePassword) this.errors.retypePassword = 'Confirm password is required';
            if (!this.birthday) this.errors.birthday = 'Birthday is required';
            if (!this.phone) this.errors.phone = 'Phone no. is required';
            if (!this.address) this.errors.address = 'Address is required';
            if (!this.email.match(validRegex)) this.errors.email = 'Email address is invalid';
            if (this.password.length < 8) this.errors.password = 'Password is too short'
            if (this.password != this.retypePassword) this.errors.retypePassword = 'Both passwords are not matched'

            e.preventDefault();
        },
        submitForm() {

            this.store.isLoading = true;

            const params = {
                fullname: this.fullname,
                email: this.email,
                password: this.password,
                phone: this.phone,
                birthday: moment(this.birthday).format("YYYY-MM-DD"),
                address: this.address,
            }

            axios.post('https://v8btwf0e43.execute-api.ap-southeast-1.amazonaws.com/dev/api/register', params, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            }).then(res => {
                this.showAlert(res.data.msg);
                this.$router.push('/');
            }).catch(err => {
                if (err.response.status == 400) {
                    this.errors = err.response.data.errors;
                }
            }).finally(() => {
                this.store.isLoading = false;
            });
        },
        showAlert(msg) {
            this.store.alert = {
                show: true,
                success: true,
                message: msg
            }
        }
    },
}

</script>