<template>
    <div v-if="store.alert.show" class="absolute top-4 right-4 z-10">
        <div class="max-w-sm p-4 bg-white shadow-lg text-sm border" :class="{ 'bg-green-50 border-green-500' : store.alert.success, 'bg-red-50 border-red-500' : !store.alert.success }">
            {{ store.alert.message }}
        </div>
    </div>
</template>
<script>
import { store } from "../data/store.js";

export default {
    data() {
        return {
            store,
        }
    },
    watch: {
        'store.alert.show'(val) {
            if (val) {
                setTimeout(() => {
                    this.store.alert.show = false;
                    this.store.alert.success = true;
                }, 3000)
            }
        }
    },
}
</script>