<template>
    <span v-if="name in bags" class="mt-1 block text-xs text-red-500">{{ bags[name] }}</span>
</template>
<script>
export default {
    props: {
        name: String,
        bags: Object,
    }
}
</script>