<template>
  <router-view></router-view>
  <alert></alert>
</template>
<script>
import { store } from './data/store.js';

export default {
  data() {
    return {
      store
    }
  },
  props: {
    message: String,
  },
  
}

</script>
